modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Start Development Server"
author = 46239233
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd oblivent && npm run dev"
